body {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

.App {
    text-align: center;
    margin-top: 1em
}

.App, nav {
    text-align: center
}

nav {
    padding-bottom: .2em;
    padding-top: 2em;
    background-color: #efefef;
    -webkit-box-shadow: -3px 3px 10px 0 hsla(0, 0%, 66%, .7);
    box-shadow: -3px 3px 10px 0 hsla(0, 0%, 66%, .7)
}

nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

li, p {
    font-size: 2rem
}

ul {
    list-style: none
}

input, select, textarea {
    padding: .4em .2em;
    font-size: 2rem
}

nav a, nav a:link {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 100
}

.active {
    font-weight: 700
}

.form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column
}

.delete-button {
    color: red;
    cursor: pointer
}

.main-title {
    padding: .5em;
    color: #1eaedb;
    margin: 0;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted
}

.cards {
    display: grid;
    margin: 1.5em 3em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: row dense;
    grid-gap: 2em;
    grid-auto-rows: 300px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-shadow: -3px 3px 10px 0 hsla(0, 0%, 66%, .4);
    box-shadow: -3px 3px 10px 0 hsla(0, 0%, 66%, .4);
    text-align: center;
    background: #ddd;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}

.card:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .25;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

.card:hover:after {
    opacity: 0
}

.card-text {
    position: relative;
    z-index: 1;
    color: #272525;
    background: #f5f5f5;
    letter-spacing: 1px
}

.card-text a {
    text-decoration: none
}

.card-text h4 {
    margin: 0;
    padding: .2em
}

.Lunch {
    background: #24c6dc;
    background: -webkit-gradient(linear, left top, right top, from(#514a9d), to(#24c6dc));
    background: -webkit-linear-gradient(left, #514a9d, #24c6dc);
    background: -o-linear-gradient(left, #514a9d, #24c6dc);
    background: linear-gradient(90deg, #514a9d, #24c6dc)
}

.Lunch, .Snack {
    width: 20%;
    margin: 20px;
    z-index: 1;
    padding: 7px;
    border-radius: 5px;
    color: #fff
}

.Snack {
    background: #50c9c3;
    background: -webkit-gradient(linear, left top, right top, from(#50928f), to(#026964));
    background: -webkit-linear-gradient(left, #50928f, #026964);
    background: -o-linear-gradient(left, #50928f, #026964);
    background: linear-gradient(90deg, #50928f, #026964)
}

.Breakfast {
    width: 100px;
    background: #9d50bb
}

.Breakfast, .Dinner {
    margin: 20px;
    z-index: 1;
    color: #fff;
    padding: 7px;
    border-radius: 50px 120px 120px
}

.Dinner {
    width: 20%;
    background: -webkit-gradient(linear, left top, right top, from(#b24592), to(#f15f79));
    background: -webkit-linear-gradient(left, #b24592, #f15f79);
    background: -o-linear-gradient(left, #b24592, #f15f79);
    background: linear-gradient(90deg, #b24592, #f15f79)
}

.recipe-image, .recipe-image:after {
    height: 60vh;
    width: 100%
}

.recipe-image:after {
    content: "";
    position: absolute;
    opacity: .25;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

.recipe {
    text-align: center;
    background: #f5f5f5;
    padding: 1em
}

.recipe h1 {
    font-size: 2.5rem;
    text-align: center
}

.recipe-header {
    overflow: hidden;
    background-image: url(https://bit.ly/2JqRbuI)
}

.recipe-header > p {
    margin: 0
}

.recipe-description {
    font-size: 2rem;
    color: #2f4f4f;
    padding: 1em;
    font-weight: 200;
    background: #fff;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
    font-style: italic
}

.recipe-name {
    color: #1eaedb;
    text-decoration: underline;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy
}

.recipe-instructions {
    text-align: left;
    padding: 0 2em
}

.recipe-instructions * {
    padding-bottom: .5em
}

.recipe-instructions__title {
    font-weight: 200;
    letter-spacing: 2px;
    color: #1eaedb;
    text-decoration: underline
}

.like-button {
    position: fixed;
    right: 1em;
    bottom: 1em;
    font-size: 2rem;
    background-color: #f15f79;
    color: #fff !important
}

.search {
    font-size: 3rem;
    -webkit-transition: width .2s ease-in;
    -o-transition: width .2s ease-in;
    transition: width .2s ease-in;
    margin-top: .3em;
    margin-bottom: 1em;
    width: 10em
}

.search:focus {
    width: 12em
}

.spinner {
    text-align: center;
    padding: 5em
}
